@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-full antialiased scroll-smooth;
}

body {
	@apply h-full scroll-smooth font-inter text-gray-700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-bold text-balance break-words;
}

h1,
.h1 {
	@apply text-5xl lg:text-7xl;
}

h2,
.h2 {
	@apply text-5xl lg:text-6xl;
}

h3,
.h3 {
	@apply text-4xl lg:text-5xl;
}

h4,
.h4 {
	@apply text-3xl lg:text-4xl;
}

h5,
.h5 {
	@apply text-2xl lg:text-3xl;
}

h6,
.h6 {
	@apply text-xl lg:text-2xl;
}

p {
	@apply leading-relaxed;
}

.button {
	@apply rounded-full px-4 py-3 text-base transition duration-300 font-bold shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2;
}

.button-green {
	@apply bg-brand-green hover:bg-brand-green/80 text-white focus-visible:outline-brand-green;
}

.button-red {
	@apply bg-brand-red hover:bg-brand-red/80 text-white focus-visible:outline-brand-red;
}

.menu-item-highlighted.menu-item-highlighted {
	@apply text-white bg-brand-green px-4 rounded-full py-1.5 hover:bg-opacity-80 hover:text-white;
}

.menu-item-active.menu-item-highlighted {
	@apply hover:text-white;
}

.menu-item-active:not(.menu-item-highlighted) {
	@apply text-brand-green font-bold;
}

[x-cloak] {
	display: none !important;
}

section.bg-white + section.bg-white > .container,
section.bg-brand-green + section.bg-brand-green > .container,
section.bg-brand-red + section.bg-brand-red > .container {
	@apply pt-0;
}

input,
textarea {
	@apply border border-gray-300 rounded-lg px-4 py-3 w-full focus:outline-none focus:ring-2 focus:ring-brand-green;
}

label {
	@apply block text-sm/6 font-medium;
}

/* Swiper */
.swiper-pagination-bullet-active.swiper-pagination-bullet-active {
	@apply bg-brand-red;
}

/* inter-300 - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/inter/inter-v18-latin-300.woff2") format("woff2");
}
/* inter-300italic - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: italic;
	font-weight: 300;
	src: url("/fonts/inter/inter-v18-latin-300italic.woff2") format("woff2");
}
/* inter-regular - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/inter/inter-v18-latin-regular.woff2") format("woff2");
}
/* inter-italic - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: italic;
	font-weight: 400;
	src: url("/fonts/inter/inter-v18-latin-italic.woff2") format("woff2");
}
/* inter-500 - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/inter/inter-v18-latin-500.woff2") format("woff2");
}
/* inter-500italic - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: italic;
	font-weight: 500;
	src: url("/fonts/inter/inter-v18-latin-500italic.woff2") format("woff2");
}
/* inter-600 - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	src: url("/fonts/inter/inter-v18-latin-600.woff2") format("woff2");
}
/* inter-600italic - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: italic;
	font-weight: 600;
	src: url("/fonts/inter/inter-v18-latin-600italic.woff2") format("woff2");
}
/* inter-700 - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/inter/inter-v18-latin-700.woff2") format("woff2");
}
/* inter-700italic - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: italic;
	font-weight: 700;
	src: url("/fonts/inter/inter-v18-latin-700italic.woff2") format("woff2");
}
/* inter-900 - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 900;
	src: url("/fonts/inter/inter-v18-latin-900.woff2") format("woff2");
}
/* inter-900italic - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: italic;
	font-weight: 900;
	src: url("/fonts/inter/inter-v18-latin-900italic.woff2") format("woff2");
}

.loader {
	width: 1rem;
	height: 1rem;
	display: block;
	margin-right: 1rem;
	position: relative;
	border: 3px solid #000;
	border-radius: 50%;
	box-sizing: border-box;
	animation: animloader 2s linear infinite;
}
.loader::after {
	content: "";
	box-sizing: border-box;
	width: 2px;
	height: 12px;
	background: #000;
	transform: rotate(-45deg);
	position: absolute;
	bottom: -12px;
	left: 16px;
}

@keyframes animloader {
	0% {
		transform: translate(-8px, -8px);
	}
	25% {
		transform: translate(-8px, 8px);
	}
	50% {
		transform: translate(8px, 8px);
	}
	75% {
		transform: translate(8px, -8px);
	}
	100% {
		transform: translate(-8px, -8px);
	}
}
