---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
import MenuList from "~/components/Menu.astro";
---

<Layout>
	<Section>
		<Heading>
			<h1 slot="heading-title" class="font-black text-brand-green h2">Our menu</h1>
			<p slot="heading-content">
				We offer a variety of dishes, from traditional to modern, that are sure to satisfy your cravings.
			</p>
		</Heading>

		<MenuList />
	</Section>
</Layout>
