---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
import MenuList from "~/components/Menu.astro";
---

<Layout>
	<Section>
		<Heading>
			<h1 slot="heading-title" class="font-black text-brand-peru h2">Our menu</h1>
			<p slot="heading-content">
				Explore Our Selection of Authentic Peruvian Dishes
			</p>
		</Heading>

		<MenuList />
	</Section>
</Layout>
