---

---

<div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:items-center">
	<Fragment>
		<slot name="hero-content-left" />
	</Fragment>
	<Fragment>
		<slot name="hero-content-right" />
	</Fragment>
</div>
