---

---

<div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:items-center">
	<div class="flex items-centerp-8">
		<slot name="hero-content-left" />
	</div>
	<div class="flex items-center justify-center p-8 ">
		<slot name="hero-content-right" />
	</div>
</div>
