---
import { getCollection } from "astro:content";
const allReviews = await getCollection("reviews");
---

<div class="swiper w-full mt-8 bg-white rounded-lg">
	<div class="swiper-wrapper h-auto w-auto pt-8 pb-12">
		{
			allReviews.map((review) => (
				<div class="swiper-slide cursor-pointer select-none">
					<div class="px-4 lg:px-8">
						<blockquote class="border-none">
							<p class="text-center font-medium text-2xl text-balance">{review.data.review}</p>
							<footer class="text-center mt-4">
								— <cite>{review.data.author}</cite>
							</footer>
						</blockquote>
					</div>
				</div>
			))
		}
	</div>
	<div class="swiper-pagination"></div>
</div>

<script>
	import Swiper from "swiper";
	import { Pagination, Autoplay } from "swiper/modules";
	import "swiper/css";
	import "swiper/css/pagination";

	document.addEventListener("astro:page-load", () => {
		const swiper = document.querySelector(".swiper") as HTMLElement;
		new Swiper(swiper, {
			modules: [Pagination, Autoplay],
			loop: true,
			slidesPerView: 1,
			spaceBetween: 32,
			autoplay: {
				delay: 2500,
			},
			pagination: {
				el: ".swiper-pagination",
			},
		});
	});
</script>
